{% extends "base.html" %}

{% block content %}
    {{super()}}
    <main class="main main--content">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="ssss">
                        cj6fu6jo25[at]gmail.com
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>LinkedIn:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="ssss">
                        @William Hu
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}


{% block footer %}
    {{ super() }}
{% endblock %}